@use "../variables/breakpoint" as *;
@use "../variables/_color" as *;
@use "../variables/_font" as *;

.profile {
  height: 100vh;
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }
}

// タブレットデザイン
@include TB {
}

// スマホデザイン
@include SP {
}