@use "../variables/breakpoint" as *;
@use "../variables/_color" as *;
@use "../variables/_font" as *;

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 30px;
  padding: 30px 80px 0;
  border: 1px solid #5E5E5E;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
}
.contentSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px 15px;
  .contentSection__title {
    margin: 0 10px 15px;
    padding: 10px 0 15px;
    border-bottom: 2px solid $sub-title-border;
    font-size: 32px;
    font-weight: 700;
    color: $sub-title;
  }
  .contentSectionWrapper {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 80px 50px;
    padding: 40px 50px;
  }
}
// ================================
// タブレットデザイン
// ================================
@include TB {
  .contentSection {
    .contentSectionWrapper {
      grid-template-columns: 1fr;
    }
  }
}

// ================================
// スマホデザイン
// ================================
@include SP {
  .top {
    padding: 30px 40px 0;
  }
}