@use "../variables/_breakpoint" as *;
@use "../variables/_color" as *;
@use "../variables/_font" as *;

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    padding: 45px 0 30px 0;
    .footer_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 45px;
      width: 100%;
      color: #5A5754;
      .footer_iconArea {
        display: flex;
        gap: 15px;
        img {
            width: 55px;
            height: auto;
        }
        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
        }
      }
      .footer_text {
        width: 100%;
        padding-top: 30px;
        border-top: 1px solid #5A5754;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
      }
    }
}

// タブレットデザイン
@include TB {
}

// スマホデザイン
@include SP {
}