@use "../variables/_breakpoint" as *;
@use "../variables/_color" as *;
@use "../variables/_font" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    padding: 20px 10px 10px;
    background-color: $base;
    .header_title {
        font-size: 64px;
        font-family: $font-title;
        color: $title;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
    }
}

// タブレットデザイン
@include TB {
}

// スマホデザイン
@include SP {
}