/* =========================
   Breakpoints
   ※ PC「1280px」の想定
========================= */

/* タブレット：1023px 以下 */
@mixin TB {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

/* スマホ：767px 以下 */
@mixin SP {
  @media screen and (max-width: 767px) {
    @content;
  }
}
