@use "../../variables/_breakpoint" as *;
@use "../../variables/_color" as *;
@use "../../variables/font" as *;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 455px;
    height: 250px;
    background-color: #FFFEFB;
    border-radius: 5px;
    border: 1px solid #6E6660;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: overflow 0.3s ease;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #000;
        border-radius: 5px;
        z-index: -1;
        transform: translate(4px, 4px);
        transition: transform 0.2s ease;

        transform: translate(0, 0);
        opacity: 0;
        transition: transform 0.2s ease 0.15s, opacity 0.2s ease 0.15s;
    }
    &:hover {
        &::after {
            transform: translate(4px, 4px);
            opacity: 1;
            transition: transform 0.2s ease 0.15s, opacity 0.2s ease 0.15s;
        }
    }
}
.card__image {
    display: block;
    width: 100%;
    height: 150px;
    background-color: #D6D6D6; // 後で消す
    border-radius: 5px 5px 0 0;
}
.cardTextWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 7px;
    width: 100%;
    padding: 10px 20px;
    .cardTextWrapper__title {
        font-size: 18px;
        font-weight: 700;
        color: $font;
        text-decoration: underline;
    }
    .cardTextWrapper__dateText {
        display: flex;
        font-size: 12px;
        color: $font;
    }
    .cardTextWrapper__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
        font-size: 14px;
        color: $font;
    }
}

// タブレットデザイン
@include TB {
}

// スマホデザイン
@include SP {
}