@use "../../variables/_breakpoint" as *;
@use "../../variables/_color" as *;
@use "../../variables/_font" as *;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    min-width: 0;
    // max-width: 430px;
    height: 250px;
    background-color: #FFFEFB;
    border-radius: 5px;
    border: 1px solid #6E6660;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #000;
        border-radius: 5px;
        z-index: -1;
        transform: translate(8px, 8px);
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    &:hover {
        transform: translate(-4px, -4px);
        &::after {
            opacity: 1;
        }
    }
}
.card__image {
    display: block;
    width: 100%;
    height: 150px;
    background-color: #D6D6D6; // 後で消す
    border-radius: 5px 5px 0 0;
}
.cardTextWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 7px;
    width: 100%;
    padding: 10px 20px;
    background-color: #FFFEFB;
    border-radius: 0 0 5px 5px;
    .cardTextWrapper__title {
        font-size: 18px;
        font-weight: 700;
        color: $font;
        text-decoration: underline;
    }
    .cardTextWrapper__dateText {
        display: block;
        font-size: 12px;
        color: $font;
    }
    .cardTextWrapper__text {
        margin: auto 0;
        font-size: 14px;
        color: $font;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

// ================================
// タブレットデザイン
// ================================
@include TB {
}

// ================================
// スマホデザイン
// ================================
@include SP {
}