@use "../../variables/_breakpoint" as *;
@use "../../variables/_color" as *;
@use "../../variables/_font" as *;

.navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    .navigateList {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        padding: 0 10px;
        width: 100%;
        .navigateList__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            .navigateList__itemLink {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 30px 30px 0 0;
                background-color: #D6D6D6;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                &.--active {
                    font-weight: 700;
                    background-color: $sub-title;
                    pointer-events: none;
                }
            }
        }
    }
}
.header_title {
    font-size: 64px;
    font-family: $font-title;
    color: $title;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

// タブレットデザイン
@include TB {
}

// スマホデザイン
@include SP {
}